* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

#biden {
    height: 100%;
    width: var(--biden-width);
    /*width 16*/
    background: #25428f;
}

#line {
    width: 0;
    height: 100%;
    border: 2px solid #111;
}

#trump {
    height: 100%;
    width: var(--trump-width);
    background: #cc0a11;
}

#biden, #trump {
    display: flex;
    align-items:center;
    justify-content:center;
}

span {
    font-family: 'Teko', sans-serif;
    color: #eee;
    font-size: 3em;
}

#time-updated {
    font-family: Verdana, Arial, sans-serif;
    position: absolute;
    left: 50%;
    top: 95%;
    width: 300px;
    height: 20px;
    margin-left: -150px;
    margin-top: -10px;
    text-align: center;
    font-size: 0.75em;
}